<div class="movement-bar">
  <h3 data-i18n="mb_title">Die Bewegung in Zahlen</h3>
  <p data-i18n="mb_sub">191 nationale Gesellschaften – ein gemeinsames Wertefundament, 7 Grundsätze, eine Bewegung.</p>
  <div class="movement-counts">
    <div class="mc-item"><div class="mc-num">191</div><div class="mc-lbl" data-i18n="mc1">Nationale<br>Gesellschaften</div></div>
    <div class="mc-item"><div class="mc-num">16 Mio</div><div class="mc-lbl" data-i18n="mc2">Freiwillige<br>weltweit</div></div>
    <div class="mc-item"><div class="mc-num">&gt;160</div><div class="mc-lbl" data-i18n="mc3">Jahre<br>Menschlichkeit</div></div>
  </div>
</div>
